<app-header></app-header>
<div class="user-profile-wrapper">
  <form class="login100-form validate-form" [formGroup]="addDoctorForm" novalidate (ngSubmit)="submit(addDoctorForm.value)">
    <app-input
      type="text"
      id="userName"
      formControlName="userName"
      [inputParameters]="usernameConfig"></app-input>
    <div class="exception m-b-10 color-red f-s-8">
      <span *ngIf="validateControl('userName')" class="color-red">*User is incorrect</span>
    </div>
    <app-input
      type="text"
      id="firstname"
      formControlName="firstname"
      [inputParameters]="firstnameConfig"></app-input>
    <div class="exception m-b-10 color-red f-s-8">
      <span *ngIf="validateControl('firstname')" class="color-red">*Firstname must contain >2 symbols</span>
    </div>
    <app-input
      type="text"
      id="lastname"
      formControlName="lastname"
      [inputParameters]="lastnameConfig"></app-input>
    <div class="exception m-b-10 color-red f-s-8">
      <span *ngIf="validateControl('lastname')" class="color-red">*Lastname must contain >2 symbols</span>
    </div>
    <app-input
      type="text"
      id="email"
      formControlName="email"
      [inputParameters]="emailConfig"></app-input>
    <div class="exception m-b-10 color-red f-s-8">
      <span *ngIf="validateControl('email')" class="color-red">*Email is required</span>
    </div>
    <app-input
      type="text"
      id="password"
      formControlName="password"
      [inputParameters]="passwordConfig"></app-input>
    <div class="exception m-b-10 color-red f-s-8">
      <span *ngIf="validateControl('password')" class="color-red">*Password is required</span>
    </div>
    <div class="buttons">
      <app-main-button type="submit" [inputParameters]="confirmButton" [disabled]="addDoctorForm.invalid" ></app-main-button>
      <app-main-button [inputParameters]="cancelButton" (click)="cancel()"></app-main-button>
    </div>
  </form>
</div>
