<app-header></app-header>
<div class="user-profile-wrapper">
  <div class="user-profile-content">
    <div class="container">
      <div class="user_info_wrapper">
        <div *ngIf="animalInfo.photos!.length > 0" class="image_container">
          <img [src]="animalInfo.photos![0].photoPath" class="image">
        </div>
        <div class="animal_description">
          <div class="personal-data m-b-15">
            <div class="user-profile__header m-b-10">
              <h2>{{animalInfo?.animalName}}</h2>
            </div>
            <div class="block username m-b-10">
              <span class="first-line m-b-10">Description</span>
              <div class="description">{{animalInfo?.animalDescription}}</div>
            </div>
          </div>
          <div *ngIf="isOwnerCheck" class="buttons">
            <app-main-button [inputParameters]="editButton" (click)="editAnimal()"></app-main-button>
            <app-main-button [inputParameters]="deleteButton" (click)="deleteAnimal()"></app-main-button>
          </div>
        </div>
      </div>
      <div class="diseases m-t-10">
        <div *ngIf="isOwnerCheck || isDoctorCheck" class="diseaseList">
          <div class="disease_header">
            <h3>{{ 'animal.diseaseList' | translate }}</h3>
            <button class="btn btn-primary green" type="button" (click)="addDisease(animalId)"> {{ 'animal.addDisease' | translate }}</button>
          </div>
          <div  *ngFor="let item of diseaseList" class="m-b-10 m-t-10">
            <div class="item-wrapper m-b-20">
              <div class="name">{{item.nameOfDisease}}</div>
              <hr>
              <div class="info">
                <div class="info-items">
                  <div class="description">
                    <div class="name_of_block m-b-10 bold">
                      {{ 'animal.description' | translate }}
                    </div>
                    {{item.diseaseDescription}}
                  </div>
                  <div class="recommendations">
                    <div class="name_of_block m-b-10 bold">
                      {{ 'animal.recommendations' | translate }}
                    </div>
                    {{item.recommendations}}
                  </div>
                </div>
                <div *ngIf="isDoctorCheck" class="input-group-append">
                  <button class="btn btn-primary yellow" type="button" (click)="editDisease(item.id)"> {{ 'animal.edit' | translate }}</button>
                  <button class="btn btn-primary red" type="button" (click)="deleteDisease(item.id)">{{ 'animal.deleteDisease' | translate }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
