<app-header></app-header>
<div class="main-wrapper">
  <div class="container">
    <div class="wrapper">
      <div class="searching_field m-b-20">
        <input type="text" class="form-control" placeholder="Searching string" id="searchingString">
        <div class="input-group-append row">
          <button class="btn btn-primary" type="button" (click)="filterAnimal()"> {{ 'clinics.search' | translate }}</button>
          <button class="btn btn-primary green" type="button" (click)="addAnimal()">{{ 'animal.addAnimal' | translate }}</button>
        </div>
      </div>
      <div  class="content">
        <div  *ngFor="let item of animalList" class="m-b-10">
          <div class="item-wrapper m-b-20">
            <div class="name">{{item.animalName}}</div>
            <div *ngIf="item.photos!.length > 0" class="image">
              <img height="50px" width="50px" [src]="item.photos![0].photoPath" alt="Animal Photo">
            </div>
            <div class="info">
              <div class="info-items">
                <div class="username">
                  {{ 'animal.description' | translate }}: {{item.animalDescription}}
                </div>
                <div class="mail">
                  {{ 'animal.type' | translate }}: {{item.animalType}}
                </div>
              </div>
              <div class="input-group-append">
                <button class="btn btn-primary green" type="button" (click)="viewAnimal(item.id)"> {{ 'animal.viewAnimal' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

