<app-header></app-header>
<div class="user-profile-wrapper">
  <form class="login100-form validate-form" [formGroup]="addUserForm" novalidate (ngSubmit)="submit(addUserForm.value)">
    <app-input
      type="text"
      id="name"
      formControlName="name"
      [inputParameters]="nameConfig"></app-input>
    <div class="exception m-b-10 color-red f-s-8">
      <span *ngIf="validateControl('name')" class="color-red">*Email is incorrect</span>
    </div>
    <app-input
      type="text"
      id="description"
      formControlName="description"
      [inputParameters]="descriptionConfig"></app-input>
    <div class="exception m-b-10 color-red f-s-8">
      <span *ngIf="validateControl('description')" class="color-red">*Firstname must contain >2 symbols</span>
    </div>
    <div class="form-group">
      <label for="selectItem">{{ 'animal.selectedType' | translate }}</label>
      <select class="form-control" id="selectItem" formControlName="selectedItem">
        <option value="{{ AnimalTypeEnum.Dog }}">Dog</option>
        <option value="{{ AnimalTypeEnum.Cat }}">Cat</option>
      </select>
    </div>
    <div *ngIf="isDoctor" class="form-group">
      <label for="selectItem">Select user</label>
      <select class="form-control" id="selectUser" formControlName="selectedUser">
        <option *ngFor="let item of userList" value="{{ item.id }}">{{item.userName}}</option>
      </select>
    </div>
    <input type="file" (change)="onFileSelected($event)" accept="image/*" />
    <div class="buttons">
      <app-main-button type="submit" [inputParameters]="confirmButton" [disabled]="addUserForm.invalid" ></app-main-button>
      <app-main-button [inputParameters]="cancelButton" (click)="cancel()"></app-main-button>
    </div>
  </form>
</div>
